/* MODAL */
.modal {
  animation-duration: 300ms;
  position: fixed;
  -webkit-animation-duration: 300ms;
  /* animation: ${({ animationStatus }) =>
    css`
      ${fade[animationStatus]} both ${animationStatus === 'enter' ? 'ease-in' : 'ease-out'}
    `}; */

  /* SIZES */
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal.enter {
  animation: fade both ease-in;
}
.modal.leave {
  animation: fade both ease-out;
}

/* MASK */
.mask {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;

  /* SIZES */
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* DIALOG */
.dialog {
  backdrop-filter: blur(100px);
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.21), 0 6px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 70vh;
  left: 0;
  margin: auto;
  /* padding: 2.5rem; */
  position: absolute;
  right: 0;
  top: 0;
  max-width: 1080px;
  width: 90vw;
  z-index: 101;
  background: white;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);

  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
}
.dialog.enter {
  animation: zoom both cubic-bezier(0.4, 0, 0, 1.5);
}
.dialog.leave {
  animation: zoom both;
}
.dialog:focus {
  outline: none;
}

/* CLOSE BUTTON */
.closeButton {
  cursor: pointer;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
}
.closeButton:before,
.closeButton:after {
  background: #999;
  border-radius: 100%;
  content: '';
  height: 2px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transition: background 0.2s;
  width: 100%;
  -webkit-transition: background 0.2s;
}
.closeButton:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.closeButton:hover:before,
.closeButton:hover:after {
  background: #333;
}

/* CONTENT */
.content {
  flex-grow: 1;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* FOOTEr */
.footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.footer.leftSideFooter {
  justify-content: space-between;
}

/* BUTTON WRAPPER */
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
.buttonWrapper button {
  margin-left: 0.5rem;
}
