.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-left: 1px solid #dbdbe0;

  flex-basis: 400px;
  flex-shrink: 0;
  overflow: auto;
  padding: 1.5rem;
  box-shadow: 0 0 0 1px 'rgba(0, 0, 0, 0.1)';
  position: relative;
  transition: right 300ms ease-in-out;
  right: 0;

  justify-content: space-between;
}

.actionButtons {
  align-items: center;
  background-color: var(--large-title-bg);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.themeTools {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
